# General
.DS_Store
*.log
.terraform/
*.tfstate
*.tfstate.backup

# Backend
fluence-backend/venv/
fluence-backend/__pycache__/
fluence-backend/.env
fluence-backend/env.yaml

# Frontend
fluence-frontend/node_modules/
fluence-frontend/dist/
fluence-frontend/.env
fluence-frontend/.firebase/

# Firebase
.firebase/
